@model ORMFoy5.Models.OgrenciDers

@{
    ViewBag.Title = "Ders Detayları";
}

<h2>Ders Detayları</h2>

@if (Model == null)
{
    <p>Hata: Kayıt bulunamadı.</p>
}
else
{
    <div>
        <p><strong>Öğrenci:</strong> @Html.DisplayFor(model => model.Ogrenci.Ad)</p>
        <p><strong>Ders:</strong> @Html.DisplayFor(model => model.Ders.DersAd)</p>
        <p><strong>Yıl:</strong> @Html.DisplayFor(model => model.Yil)</p>
        <p><strong>Yarıyıl:</strong> @Html.DisplayFor(model => model.Yariyil)</p>
    </div>

    <div>
        @Html.ActionLink("Düzenle", "Edit", new { id = Model.OgrenciDersID }) |
        @Html.ActionLink("Sil", "Delete", new { id = Model.OgrenciDersID }) |
        @Html.ActionLink("Listeye Geri Dön", "Index")
    </div>
}
