@model ORMFoy5.Models.Ogrenci

<h2>Öğrenci Sil</h2>

<h3>Bu öğrenciyi silmek istediğinizden emin misiniz?</h3>
<div>
    <p><strong>Ad:</strong> @Html.DisplayFor(model => model.Ad)</p>
    <p><strong>Soyad:</strong> @Html.DisplayFor(model => model.Soyad)</p>
    <p><strong>Bölüm:</strong> @Html.DisplayFor(model => model.Bolum.BolumAd)</p>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        <div>
            <input type="submit" value="Sil" /> |
            @Html.ActionLink("Listeye Geri Dön", "Index")
        </div>
    }
</div>